* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body header h1 {
  text-align: center;
}
body #main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6e116e;
  border: rebeccapurple;
  height: 100vh;
  width: 100%;
}
body #main-container #quiz-container {
  height: 90vh;
  width: 100%;
  background-color: royalblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #main-container #quiz-container #quiz-frame {
  height: 85vh;
  width: 60vw;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body #main-container #quiz-container #quiz-frame #quiz-display {
  border: 1px solid thick greenyellow;
  background-color: white;
  height: 50vh;
  width: 80%;
}
body #main-container #quiz-container #quiz-frame #quiz-answers {
  border: 1px solid thick greenyellow;
  background-color: white;
  height: 50vh;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
body #main-container #quiz-container #quiz-frame #quiz-answers .userChoice:first-child {
  grid-column: 2/4;
  grid-row: 2/3;
}
body #main-container #quiz-container #quiz-frame #quiz-answers .userChoice:nth-child(2) {
  grid-column: 2/4;
  grid-row: 3/4;
}
body #main-container #quiz-container #quiz-frame #quiz-answers .userChoice:nth-child(3) {
  grid-column: 2/4;
  grid-row: 4/5;
}
body #main-container #quiz-container #quiz-frame #quiz-answers .userChoice:last-child {
  grid-column: 2/4;
  grid-row: 5/6;
}